@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body {

  background-color: #fdf1ec
  
}

#introduction {

  padding: 20px;

  color: black; 
      
  text-align: center;
  
  background-color: #ffffff;

  margin: 20px;

  border: 3px outset #F0A8A8; 
      
}

div.subpages {

  background-color: #ffffff;

  color: black; 

  margin: 20px;

  padding: 15px;

  border: 3px outset #F0A8A8; 

  position: relative;

  overflow: auto;
      
}

div.links {

  color: black; 

  font-size: 0.75em;

  text-align: left;
      
}

h1 {

  color: #F0A8A8; 
  text-align: center;
  font-family: 'Permanent Marker';
  text-shadow: 2px 2px #874e4e;
  
}

h3 {

  font-family:Georgia;
  
}

p { 
  
  font-family:Helvetica;
  
}

#box1 {
  float:left;
  width: 40%;
  padding: 20px;
}

#box2 {
  float:right;
  width: 40%;
  padding: 20px;
}

#box3 {
  float: right;
  clear: both;
  width: 40%;
  padding: 20px;
}

#box4 {
  clear: left;
  width: 40%;
  padding: 20px;
}

div > div {
  text-align: center;
}

a {
  color: #cc9c16;
}

#copyright {
  text-align: right;
  font-size: 0.75em;
}
    
