@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body {

  background-color: #fdf5f2;
  
}

#introduction {

  padding: 20px;

  color: black; 
      
  text-align: center;

  background-color: #cbecec;

  margin: 20px;
      
}

.subpages {

  background-color: white;

  color: black; 

  margin: 20px;

  padding: 15px;

  position: relative;

  overflow: auto;

  z-index: 0;
      
}

div.links {

  color: black; 

  font-size: 0.75em;

  text-align: left;
      
}

h1 {

  color: #F0A8A8; 
  text-align: left;
  font-family: 'Permanent Marker';
  text-shadow: 2px 2px #874e4e;
  display: inline;
  
}

nav > h3 {
  display: inline;
  float: right;
  padding: 5px;
  margin: 10px;
}

h3 {

  font-family:Georgia;
  
}

p { 
  
  font-family:Helvetica;
  
}

.video {
  text-align: center;
}

#box1 {
  float:left;
  width: 40%;
  padding: 20px;
}

#box2 {
  float:right;
  width: 40%;
  padding: 20px;
}

#box3 {
  float: right;
  clear: both;
  width: 40%;
  padding: 20px;
}

#box4 {
  clear: left;
  width: 40%;
  padding: 20px;
}

section > section {
  text-align: center;
}

#title:link, #title:hover, #title:visited, #title:active {
  color: #F0A8A8; 
  text-decoration: none;
}

.head:link, .head:visited {
  text-decoration: none;
  color: black;
}

.head:hover, .head:active {
  color: #F0A8A8;
}

a {
  color: #cc9c16;
}

#copyright {
  text-align: right;
  font-size: 0.75em;
}

#source {
  text-align: center;
  font-size: 0.75em;
}

heading {
  background-color: white;
  position: fixed;
  top:0;
  left:0;
  padding: 10px;
  margin: 0;
  width: 100%;
  z-index: 1;
}

section {
  display: block;
}
    
