@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body {

  background-color: #FDF1EC; 
      
}

#introduction {

  padding: 20px;

  color: black; 
      
  text-align: center;
  
  background-color: #cbecec;

  margin: 20px;
      
}

.subpages {

  background-color: #ffffff;

  color: black; 

  margin: 20px;

  padding: 20px;
      
}

h1 {

  color: #F0A8A8; 
  text-align: left;
  font-family: 'Permanent Marker';
  text-shadow: 2px 2px #874e4e;
  display: inline;
  
}

nav > h3 {
  display: inline;
  float: right;
  padding: 5px;
  margin: 10px;
  font-family: georgia; 
}

#title:link, #title:hover, #title:visited, #title:active {
  color: #F0A8A8; 
  text-decoration: none;
}

.head:link, .head:visited {
  text-decoration: none;
  color: black;
}

.head:hover, .head:active {
  color: #F0A8A8;
}

a {
  text-decoration: none;
  color: #cc9c16;
}

heading {
  background-color: white;
  position: fixed;
  top:0;
  left:0;
  padding: 10px;
  margin: 0;
  width: 100%;
  z-index: 1;
}

p { 
  
  font-family:Helvetica;
  
}

.nonbinary {
  position: relative;
  width: 100%;
}

.subtitle {
  text-align: center;
}

div.subnb {
  float: left;
  margin: 5px;
  width: 20%;
  text-align: center;
}

.gender {
  clear: left;
}
